In [3]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [4]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [15]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [11]:
# create engine to hawaii.sqlite
database_path = "Resources/hawaii.sqlite"

engine = create_engine(f"sqlite:///{database_path}")

In [13]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect = True)

In [28]:
# View all of the classes that automap found
Base.classes.keys()

# ANother way to find tables NOTE: must import inspect from sqlalchemy
inspector = inspect(engine)
print(f"Table Names: {inspector.get_table_names()}")

columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c['type'])

Table Names: ['measurement', 'station']
id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [29]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [30]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [63]:
# Find the most recent date in the data set.
most_recent_date = session.query(Measurement.date).order_by(Measurement.date.desc()).limit(1)

for row in most_recent_date:
    print(f"The most recent date is : {row[0]}")

The most recent date is : 2017-08-23

In [72]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

start_date = [row[0] for row in most_recent_date]
print(f"Most recent date: {start_date[0]}")

# Calculate the date one year from the last date in data set.
split_sd = start_date[0].split('-')
end_date_year = int(split_sd[0]) - 1
end_date = str(end_date_year) + '-' + split_sd[1] + '-' + split_sd[2]
print(f"One year prior: {end_date}")

# Perform a query to retrieve the data and precipitation scores
results = session.query(Measurement.date, Measurement.prcp).order_by(Measurement.date.desc()).filter(Measurement.date >= f"{end_date}")

# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date', 'prcp'])
df.set_index('date', inplace = True)

# Sort the dataframe by date
df.sort_index()
df
# Use Pandas Plotting with Matplotlib to plot the data

Most recent date: 2017-08-23
One year prior: 2016-08-23

            prcp
date
2017-08-23  0.00
2017-08-23  0.00
2017-08-23  0.08
2017-08-23  0.45
2017-08-22  0.00
...          ...
2016-08-23  0.05
2016-08-23   NaN
2016-08-23  0.02
2016-08-23  1.79
2016-08-23  0.70

[2230 rows x 1 columns]

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()